header {
    margin: 0 20%;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

    .logo-container img {
        width: 20px;
        margin-right: 10px;
        cursor: pointer;
    }

    .logo-container h1 {
        font-size: 20px;
        color: rgb(43, 43, 43);
        cursor: pointer;
    }

    .logo-container h1:hover {
        color: #6b6d70;
    }

.sign-in-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
    .sign-in-container .img-profile {
        width: 30px;
        border-radius: 3px;
    }

    .sign-in-container a {
        text-decoration: none;
        color: rgb(43, 43, 43);
        font-weight: bolder;
    }

    .sign-in-container .img-dashboard, .img-logOut {
        width: 30px;
        cursor: pointer;
    }

    .sign-in-container .img-dashboard:hover, .img-logOut:hover {
        scale: 1.2;
    }

    .sign-in-container .logOut img{
        width: 30px;
        margin-right: 8px;
    }

@media only screen and (max-width: 1920px) {

    header {
        margin: 0 10%;
    }
}