.login-container {
    margin: 5% 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

    .title {
        margin-bottom: 5px;
    }

    .login-container  a {
        display: flex;
        align-items: center;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 9px;
        color: #fff;
        font-size: 13px;
        text-decoration: none;
        background-color: #27272A;
        width: 210px;
    }

    .login-container a:hover {
        background-color: #27272ae5;
    }

    .login-container a img {
        width: 23px;
        margin-right: 20px;
    }