<app-header></app-header>

<div class="dot-spinner" *ngIf="loading">
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
    <div class="dot-spinner__dot"></div>
</div>

<div class="login-container">
    <h1 class="title">👋🏼 Welcome, choose an option to sign in:</h1> 
    <div id="google-btn"></div>
    <a href=""><img src="/assets/icons/github-blanco.svg" alt="github-icon">Sign in with Github</a> 
</div>

<app-footer></app-footer>
