<div class="container" *ngIf="longUrl == 'notFound'">
    <div class="content" >
        <div class="content_img">
            <img src="/assets/imgs/404.png" alt="">
            <p class="content_number">
                404
            </p>
        </div>
        <div class="content-desc">
            <h1 class="content_error">
                UPSSSS! Algo salio mal, página no encontrada.
            </h1>
        <a href="#" class="content_button">SACAME DE AQUI!</a>
        </div>
    </div>    
</div>